<div class="cascade-slider-main">
  <h2>Angular 3D Carousel</h2>
  <div class="cascade-slider_container" id="cascade-slider">
    <div class="cascade-slider_slides">
      <div class="cascade-slider_item">
        <img src="../assets/images/1.jpg" alt="">
      </div>
      <div class="cascade-slider_item">
        <img src="../assets/images/2.jpg" alt="">
      </div>
      <div class="cascade-slider_item">
        <img src="../assets/images/3.jpg" alt="">
      </div>
      <div class="cascade-slider_item">
        <img src="../assets/images/4.jpg" alt="">
      </div>
      <div class="cascade-slider_item">
        <img src="../assets/images/5.jpg" alt="">
      </div>
      <div class="cascade-slider_item">
        <img src="../assets/images/6.jpg" alt="">
      </div>

    </div>

    <span class="cascade-slider_arrow cascade-slider_arrow-left" (click)="arrowclick('prev')" data-action="prev"><img
        src="../assets/images/circle-left-arrow.svg" type="image/svg+xml" /></span>
    <span class="cascade-slider_arrow cascade-slider_arrow-right" (click)="arrowclick('next')" data-action="next"><img
        src="../assets/images/circle-right-arrow.svg" type="image/svg+xml" /></span>
  </div>
</div>